{% extends "wagonauto/base.html" %}
{% block body_block %}
<br>
<div class="container">
  <h1>Welcome to WagonAuto!!</h1><br>
  <div class="jumbotron">
    <p>WagonAuto is a website that gives you the details of all the cars that you want to have.
      We cover most common companies like Maruti Suzuki, Hyundai, Tata, Honda, Toyota, Mahindra and KIA.
      You can view the description of a particular car of a particular company or list the cars based on your preferences of it's specifications.
      Also, we have contacts and location details of several showroom that you can contact and purchase your dream car!!</p>

    <p>The following is a guide to our website:</p>

    <ul>
      <li>HOME: Brings you to this page from wherever you are</li>
      <li>COMPANIES: Get all the details of a specific car</li>
      <li>SPECIFICATION: Get a list of cars that matches your specifications</li>
      <li>CONTACT: Gives you details of different showrooms</li>
    </ul>
  </div>
</div>
{% endblock %}
